body {
 background-color:aliceblue;
}
.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
 background-color:rgb(205, 253, 241);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.register-link {
  text-align:justify;
  margin-top: 15px;
}
.btn {
  background-color: #89c8f1;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.btn:hover {
  background-color: #0c9ac5;
}
